body {
  margin: 0;
  padding: 75px;
}

h2 {
  text-align: center;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.social-card {
  background-color: var(--content-background);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  justify-content: space-around;
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-card:hover {
  transform: scale(1.05);
}

.social-info {
  padding: 10px;
  text-align: center;
}
