<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="navbar">
  <div class="center-navbar">
    <a href="#">
      <img class="logo" src="assets/logo.png" alt="Logo" />
    </a>
    <div class="middle-links">
      <a *ngIf="loggedIn" (click)="navigateToActivity()">Activity</a>
      <a *ngIf="loggedIn" (click)="navigateToProfilePage()">Profile</a>
      <a *ngIf="loggedIn" (click)="navigateToBeverageList()">Beverage List</a>
      <a (click)="navigateToBrowse()">Browse</a>
    </div>
    <div *ngIf="loggedIn; else notLogged">
      <div class="user-profile">
        <a class="user-profile-pic">
          <img src="{{ imageSrc }}" />
        </a>
        <ul class="sub-menu">
          <button mat-raised-button (click)="settings()" style="width: 100%">
            Settings</button
          ><br />
          <button mat-raised-button (click)="logout()" style="width: 100%">
            Logout
          </button>
        </ul>
      </div>
    </div>
    <ng-template #notLogged>
      <button mat-raised-button (click)="navigateToLogin()">Login</button>
    </ng-template>
  </div>
</div>
