body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 75px;
}

h2 {
  text-align: center;
}

.planned-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.had-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.beverage-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  justify-content: space-around;
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.spinner-div {
  float: left;
  width: 31%;
  margin: 1%;
  background: rgba(223, 223, 223, 0.85);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  padding-bottom: 5px;
}

.spinner {
  margin: auto;
  border: 2px solid #ccc; /* Color of the circle border */
  border-radius: 50%; /* Make it a circle */
  border-color: rgba(15, 15, 15, 0.85);
}

.beverage-card:hover {
  transform: scale(1.05);
}

.beverage-image {
  max-width: 150px;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.beverage-info {
  padding: 10px;
  text-align: center;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quarter-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 1em auto;
  border: 2px solid rgba(15, 15, 15, 0.85);

}
