<app-navbar firstSelected="false" secondSelected="true" thirdSelected="false"></app-navbar>
<app-profile-bar overviewSelected="false" listSelected="false" socialSelected="false" reviewsSelected="true"></app-profile-bar>

<body>
<h2>Reviews</h2>
<ul class="beverage-list">
  <div *ngFor="let item of reviews">
    <li class="beverage-item">
      <div class="image_wrapper" (click)="navigateToBeveragePage(item.beverage.name)">
        <img src="{{item.beverage.image_path}}" alt="{{item.beverage.name}}" class="beverage-image">
      </div>
      <div class="beverage-info">
        <div class="beverage-name">{{item.beverage.name}}</div>
        <div class="review-comment">{{item.comment}}</div>
        <div class="timestamp">{{item.created_at}}</div>
      </div>
      <div class="score-info">
        <div class="review-comment">Score {{item.score}}</div>
        <div class="review-comment">
          <button class="nav-button" (click)="likeReview(item.ratingId)"><span class="material-symbols-outlined">thumb_up_alt</span></button>
          {{item.likes}}
        </div>
      </div>
    </li>
  </div>
  <div *ngIf="reviews.length === 0">
    <h2>Sorry, we could not find anything</h2>
  </div>
</ul>
</body>
